@font-face {
    font-family: "Lora";
    src: url(archivo.ttf);
}

html {
    
}

body {
    padding: 0;
    margin: 0;
    color: #e20613;
}

a {
    color: #e20613;
    text-decoration: none;
}

a:hover {
    color: #ddd;
    
}

h1 a:hover {
    color: #fff;
}

main {
    height: 90vh;
    background-image: url("fondo\ proyecto.png");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
   
}


.img-fluid2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
}

.img-fluid3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

h1 {
    color: #ddd;
}

h2 {
   
    font-size: 25px;
    margin: 30PX;
    color: #ffffff;
}

h3 {
    text-align: center;
    font-size: 30px;
    margin: 0;
    color: #ffffff;
    justify-content: center;
    
}

.central {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100vw;
    height: 90vh;
    
}

.texto-central {
    display: flex;
    align-items: center;
    background-color: #e20613;
    padding: 20px;
    width: 600px;
    height: 420px;
    border-radius: 5%;

}

header {
    height: 10vh; 
    background-color: #3000ae;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
    align-items: center;
    
}

header h1 {
    margin: 0;
}

nav {
    width: 640px;
    font-size: 20px;
}

nav ul {
display: flex;
justify-content: space-around;
list-style-type: none;
}

.text-section {
   
    color: #ffffff;
}

.text-section h1 {
    font-size: 4.5rem;
    margin-bottom: 0px;
   text-align: center;
   color: #ffffff;
}

.text-section p {
    font-size: 1.15rem;
    line-height: 1.75;
    text-align: center;
    margin: 30px;
}