body{

    background-color: rgba(250, 232, 206, 0.301);}
    h1 {
        color: rgb(86, 61, 5);
    font-size: 48px;
font-family: Helvetia;
font-weight: 700;
font-style: normal;
}
    

    h2 {
        
        color: rgb(84, 64, 7);
    }
    h3 {
        
        color: rgb(157, 117, 32);}
    p {
        color: rgb(72, 44, 7); 
        line-height: 20px;
    }
    li {
        color: rgb(72, 44, 7); 
        line-height: 20px;
    }